<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="Styles/login.css">
</head>
<body>
<div class="form-container">
    <h1>Login</h1>

    <form th:action="@{/login}" method="post">

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </div>
        <div>

            <button type="submit">Login</button>
        </div>
        <div th:if="${error}">
            <p th:text="${error}" style="color: red;"></p>
        </div>
        <a th:href="@{/register}">Register</a>
    </form>
</div>

</body>
</html>