<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>

<header class="header">
    <div class="logo">ChessPortal</div>
    <ul class="nav">
        <li><a href="#">Strona Główna</a></li>
        <li><a href="#">O Nas</a></li>
        <li><a href="#">Usługi</a></li>
        <li><a href="#">Kontakt</a></li>
    </ul>
</header>

<div class="main-content">

    <div class="content">
        <h1>Witamy na stronie</h1>
    </div>
</div>

<footer class="footer">
    © 2024 Wszelkie prawa zastrzeżone.
</footer>

</body>
</html>